KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak-user
KEYCLOAK_DB_PASS=<YOUR_KEYCLOAK_DB_PASS>
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASS=<YOUR_KEYCLOAK_ADMIN_PASS>
KEYCLOAK_CLIENT_SECRET=<YOUR_KEYCLOAK_CLIENT_SECRET>
GF_SECURITY_ADMIN_PASSWORD=<YOUR_GF_SECURITY_ADMIN_PASSWORD>
DB_NAME=nomenclator
DB_USER=nomenclator-admin
DB_PASS=<YOUR_DB_PASS>
DB_ROOT_PASS=<YOUR_DB_ROOT_PASS>
GATEWAY_SECRET=<YOUR_GATEWAY_SECRET>
